@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

@model Static_crud.Models.UserLoginModel


<main>
    <div class="container">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger mt-3">
                @TempData["ErrorMessage"]
            </div>
        }
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a class="logo d-flex align-items-center w-auto">
                                <img src="~/img/logo.png" alt="CoffeShop Logo" class="img-fluid" style="max-width: 50px;">
                                <span class="d-none d-lg-block ms-2 fs-4 fw-bold text-primary">CoffeShop</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card shadow-lg mb-3">

                            <div class="card-body p-4">

                                <div class="pt-4 pb-2 text-center">
                                    <h5 class="card-title pb-0 fs-4 text-primary">Login to Your Account</h5>
                                    <p class="text-muted small">Enter your username & password to login</p>
                                </div>

                                <form class="row g-3 needs-validation" asp-action="UserLogin" asp-controller="User">

                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Username</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text bg-primary text-white" id="inputGroupPrepend">
                                                <i class="bi bi-person"></i>
                                            </span>
                                            <input type="text" asp-for="UserName" class="form-control" id="yourUsername" placeholder="Enter your username" required>
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Password</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text bg-primary text-white" id="inputGroupPrepend">
                                                <i class="bi bi-lock"></i>
                                            </span>
                                            <input type="password" asp-for="Password" class="form-control" id="yourPassword" placeholder="Enter your password" required>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                            <label class="form-check-label" for="rememberMe">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Login</button>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="small mb-0">Don't have an account? <a asp-controller="User" asp-action="Register" class="text-primary fw-bold">Create an account</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}